@font-face {
  font-family: 'gameboy';
  src: url('./fonts/early-gameboy.ttf') format('truetype');
}

:root {
    font-size: 12px;
    font-family: 'gameboy';
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    background-color: rgba(240, 240, 240, 0.89);
}

#root {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

/* FLEX SETTINGS*/
.flex { display: flex; }

.flex-auto { flex: auto; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column { flex-direction: column; }
.row {flex-direction: row;}

/* JUSTIFY */
.justify-center { justify-content: center; }
.justify-flex-start { justify-content: flex-start; }
.justify-flex-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-around { justify-content: space-around; }

/* ALIGN */
.align-center {align-items: center; }
.align-flex-start { align-items: flex-start; }
.align-flex-end { align-items: flex-end; }
.align-between { align-items: space-between; }
.align-evenly { align-items: space-evenly; }
.align-around { align-items: space-around; }

/* VISIBILITY */
.visible {display: 'visible'; }
.none { display: 'none'; }




#status {
    font-size: .6em;
}

#loading-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loading-spinner {
    background-image: url('./svg/clear-day.svg');
    margin: 20px;
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  }

  /* TOP CONTAINER */
  #top-weather-container {
    position: fixed;
    display: grid;
    grid-template-rows: 42% 42% 16%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content temperature"
                          "info more-info"
                          "navbar navbar";
    top: 0;
    right: 0;
    left: 0;
    bottom: 40%;
    z-index: 1;
    background-color: #f1f1f183;
    -webkit-backdrop-filter: blur(15px) grayscale(80%) contrast(40%);
          backdrop-filter: blur(15px) grayscale(80%) contrast(40%);
    border-bottom: 1px solid black;
    box-shadow: 0px -1px 3px 1px;
  }

#weather-icon {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  max-height: 70%;
}



#temperature-container {
  grid-area: temperature;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#date {
  text-align: center;
  font-size: 1em;
  width: 100%;
}

#real-temp {
  text-align: center;
  max-width: 100%;
  font-size: calc(1em + 3vh);
}

#feels-like-temp {
  text-align: center;
  font-size: calc(3px + 1vw);
}


.navbar {
  grid-area: navbar;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%; */
}

.nav-button {
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.555)
}



.nav-button:active {
  background-color: rgba(0, 0, 0, 0.555);
  color: lightgrey;
  border-color: #f1f1f183;
}












#bottom-weather-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: #f1f1f13f;
  -webkit-backdrop-filter: grayscale(10%);
          backdrop-filter: grayscale(10%);
}

.weather-data {
  color: black;
  border: none;
  flex: 0 1 90%;
  height: 5em;
  background-color: #f1f1f13f;
  -webkit-backdrop-filter: grayscale(10%);
          backdrop-filter: grayscale(10%);
  margin: 5px 10px;
  box-shadow: 0px 1px 3px 1px;
  border-radius: 1em;
}



.data-title {

  background-color: lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
  font-size: .8em;
  margin: 2px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-right: 5px double slategrey;
}

.data-value {
  height: 100%;
  width: 50%;
}




/* MEDIA QUERIES */
@media only screen and (min-width: 992px){
  /* PHONE LANDSCAPE */

  #top-weather-container {
    position: fixed;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 0;
    margin: .5em;
    border: 3px solid black;
    box-shadow: 0px 0px 0px 0px;
  }

  #bottom-weather-container{
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    overflow: auto;
    padding-right: 1em;
  }

  .weather-data {
    height: 4em;
    margin: 1em 0;
  }
}

/* ANIMATIONS */
/* LOADING SPINNER ANIMATION */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
